[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flasgger = "*"
flask-marshmallow = "*"
apispec = "*"
tensorflow = "*"
imutils = "*"
opencv-python = "*"
Flask = "==1.1.2"
Keras = "*"

[dev-packages]

[requires]
python_version = "3.7.6"
